name: Deploy to GitHub Pages

env:
  - GITHUB_DEPLOY=true

on:
  release:
    types:
      - published

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build and Deploy
        uses: jenkey2011/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_REPO: mitre/inspec-developer
          TARGET_BRANCH: gh_pages
          BUILD_SCRIPT: npm ci $$ npm run build:docs
          BUILD_DIR: docs/.vuepress/dist/
